# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.venv310/

# Data
/data/videos/*
!/data/videos/.gitkeep
/data/slices/*
!/data/slices/.gitkeep
/data/images/*
!/data/images/.gitkeep
/data/labels/
!/data/labels/.gitkeep
/data/labels_yolo/
/data/labels_auto/
!/data/labels_auto/.gitkeep
/data/labels_auto_obb/
/data/dataset/
/data/dataset_auto/
/data/aabb_dataset/
/data/obb_dataset/

# Outputs
/runs/
/yolov5/runs/
/yolov5-obb/

# OS
.DS_Store
Thumbs.db
