# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Data
/data/videos/
/data/slices/
/data/images/
/data/labels/
/data/labels_yolo/
/data/labels_auto/
/data/dataset/

# Outputs
/runs/

# OS
.DS_Store
Thumbs.db
